.docs-container {
   display: flex;
   flex-direction: column;
   width: 100%;
   align-items: center;
}

.docs-container * {
   width: 90%;
}

.docs-container h1 {
   padding-top: 30px;
   text-align: center;
   font-weight: 700;
   font-size: 2.2rem;
   letter-spacing: 0px;
}

.docs-container h2 {
   width: 100%;
   padding-top: 20px;
   font-size: 1.6rem;
   text-align: center;
   letter-spacing: 0px;
}

.docs-container h3 {
   margin: 0px;
   padding: 10px 0px 30px 0px;
   text-align: center;
   font-size: 0.9rem;
   color: grey;
   opacity: 80%;
}

.docs-container ul {
   list-style-type: none;
   width: 100%;
   padding: 0;
   font-size: 1.2rem;
}

.docs-section {
   display: flex;
   flex-direction: column;
   width: 100%;
   text-align: center;
}

.docs-section h2 {
   font-size: 2rem;
   padding: 15px 20px;
   text-align: left;
   letter-spacing: 0.5px;
}

.docs-section-content p {
   text-align: left;
   padding: 0px 20px;
   font-size: 1.3rem;
   line-height: 1.6;
   letter-spacing: 0.5px;
   margin-bottom: 10px;
}

.docs-section-content red {
   color: red;
   font-weight: 600;
}

.docs-section-content blue {
   color: turquoise;
   font-weight: 600;
}

.docs-section-content yellow {
   color: yellow;
   font-weight: 600;
}

.docs-section-content green {
   color: lightgreen;
   font-weight: 600;
}

.docs-section-content ul {
   list-style-type: "→";
}

#usefullinks ul {
   list-style-type: none;
   text-align: left;
   padding-left: 20px;
   font-size: 1.2rem;
}
